
<!-- </head> -->
<body>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="link-box">
          <i class="bi bi-person-plus-fill"></i>
          <div class="section-header">
            <ul>
              <li>
                <a [routerLink]="['/usr/student/add']" routerLinkActive="router-link-active" class="highlight-link">Novo Orçamento</a>
              </li>
              <li>
                <a [routerLink]="['/usr/select/student']" routerLinkActive="router-link-active" class="highlight-link">Editar Novo Orçamento</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex justify-content-center">
        <div class="link-box">
          <i class="bi bi-building"></i>
          <div class="section-header">
            <ul>
              <li>
                <a [routerLink]="['/usr/school/add']" routerLinkActive="router-link-active" class="highlight-link">Conferir peças</a>
              </li>
              <li>
                <a [routerLink]="['/usr/select/school']" routerLinkActive="router-link-active" class="highlight-link">Editar histórico de peças</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="link-box">
          <i class="bi bi-journal-text"></i>
          <div class="section-header">
            <a [routerLink]="['/usr/courses/add']" routerLinkActive="router-link-active" class="highlight-link">
              Registrar Orçamento
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<!-- </html> -->
