<div class="login-container">
  <div class="row justify-content-center">
    <div>
      <div class="login-card">
        <div class="card-body">
          <h2 class="welcome-text text-center mb-4">Login</h2>
          <div class="underline-title"></div>
          <div *ngIf="loginError" class="alert alert-danger text-center mb-3">
            {{ loginError }}
          </div>
          <form (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label for="email" class="form-label"><i class="bi bi-envelope"></i> Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"             [(ngModel)]="email"
                required
                #emailInput="ngModel"    >
              <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger">
                <div *ngIf="emailInput.errors?.['required']">Email é obrigatório.</div>
                <div *ngIf="emailInput.errors?.['email']">Email inválido.</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"><i class="bi bi-lock"></i> Senha</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"          [(ngModel)]="password"
                required
                #passwordInput="ngModel" >
              <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-danger">
                <div *ngIf="passwordInput.errors?.['required']">Senha é obrigatória.</div>
              </div>
            </div>
            <div class="d-grid gap-2 mt-4">
              <button type="submit" class="btn btn-dark">Entrar</button>
            </div>
          </form>

          <div class="mt-3 text-center">
            <p>Ainda não tem uma conta? <a routerLink="/signup">Cadastre-se aqui</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
